html,
body {
    /* font-size: 100%; */
    font-family: Arial;
    background: #ffffff;
    margin: 0;
    overflow-x: hidden;
    position: relative;
}

p,
ul li,
ol li {
    margin: 0;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Comfortaa', cursive;
    margin: 0;
}

ul,
label {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:visited {
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

body a:hover {
    text-decoration: none;
}
.join-btn {
    cursor: pointer;
}
.pos-btn {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1rem;
    z-index: 9999;
    width: 50%;
    max-width: 335px;
    height: 73px;
    background: #EB7803;
    font-family: Arial;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    /* 阴影 */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    /* 圆角 */
    /* border-radius: 5px; */
    /* 边框 */
    border: none;
    /* 内边距 */
    padding: 1rem;
    /* 外边距 */
    margin: 1rem;
    /* 文本样式 */
    text-transform: uppercase;
    /* 文本对齐 */
}

.hide-btn {
    display: none!important;
}

/*-- banner --*/
.w3-banner {
    background: url(../images/banner.jpg) no-repeat center 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    /* height: 1208px; */
    /* max-height: 100vh; */
    position: relative;
}

.w3l-banner-info h2,
.personal {
    text-align: center;
    /* text-transform:uppercase; */
    line-height: 60px;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 50px;
    color: #FEFEFE;
    margin-bottom: 2.2rem;
    font-family: Arial;
}

.w3l-banner-info p {
    font-size: 28px;
    color: #fefefe;
    text-align: center;
    font-family: Arial;
}

.w-btn {
    width: 335px;
    height: 73px;
    background: #EB7803;
    font-family: Arial;
    font-weight: 400;
    font-size: 20px;
    color: #FEFEFE;
    line-height: 35px;
    margin: 0 auto;
    margin-top: 3rem;
    text-transform: uppercase;
    margin-bottom: 14rem;
}

.w3l-banner-info {
    padding: 23rem 0 0;
    /* width: 55%; */
}

.personal {
    margin-bottom: 15px;
}

.num {
    font-weight: bold;
    font-size: 50px;
    color: #FFFFFF;
    line-height: 35px;
    width: 335px;
    height: 73px;
    background: rgba(235, 120, 3, 0);
    border: 1px solid #FFFFFF;
    margin: 0 auto;
    margin-bottom: 20px;
}

.arrow {
    width: 24px;
    height: 30px;
    margin-right: 5px;
}

.all-time {
    font-weight: 400;
    font-size: 28px;
    color: #FFFFFF;
    padding-bottom: 100px;
}

.tips {
    height: 100px;
    background: #EB7803;
    font-weight: 400;
    font-size: 28px;
    color: #FEFEFE;
}

.free-daily-dividends {
    padding: 6.8125rem 16.25rem 7.4375rem 16.25rem;
    background: #F6FAFD;
}

.free-daily-dividends .title {
    margin-bottom: 2rem;
}

.top-btns {
    margin-bottom: 90px;
}

.top-btns li {
    /* width: 15.6rem; */
    height: 4.5rem;
    background: #5C6D81;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: 16px;
    color: #FEFEFE;
    display: flex;
    align-items: center;
    justify-content: center;
}

.people-1 {
    width: 35.625rem;
    height: 21.625rem;
}

.title {
    font-family: Arial;
    font-weight: bold;
    font-size: 3.125rem;
    color: #000000;
    line-height: 3.75rem;
}

.free-daily-dividends p {
    color: #777;
    font-size: 18px;
    line-height: 25px;
}

/* power---start */
.power {
    padding: 6.25rem 15.625rem;
}

.power .title {
    margin-bottom: 5rem;
}


.p-li {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    margin-bottom: 1.25rem;
}

.p-icon {
    width: 3.125rem;
    height: 2.75rem;
    margin-right: 1rem;
}

.p-title {
    font-family: Arial;
    font-weight: 400;
    font-size: 24px;
    color: #000000;
}

.p-text {
    font-family: Arial;
    font-weight: 400;
    font-size: 1.125rem;
    color: #777777;
}

.secure {
    padding: 6.8125rem 16.25rem 10.3125rem 16.25rem;
    background: #F6FAFD;
}

.secure .title {
    margin-bottom: 5rem;
}

.secure .s-title {
    font-family: Arial;
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
}

.secure .s-text {
    font-family: Arial;
    font-size: 18px;
    color: #FFFFFF;
}

.secure li {
    background: #5C6D81;
    margin-bottom: 1.875rem;
    padding: 1.875rem 3.75rem;
}

.guarante {
    background: #EB7803;
    color: #fff;
    padding: 6.875rem 16.25rem;
}

.guarante .title {
    color: #fff;
    margin-bottom: 2rem;
}

.guarante .divider {
    margin-top: 3.125rem;
    margin-bottom: 1.875rem;
    font-weight: normal;
    font-size: 3.125rem;
    color: #FEFEFE;
}

.guarante .website {
    padding: 1.5625rem 2.1875rem;
    background: rgba(235, 120, 3, 0);
    border: 1px solid #FFFFFF;
    width: 38.75rem;
    margin: 0 auto;
}

.profile {
    background: #F6FAFD;
    padding: 6.8125rem 16.25rem;
}

.profile .title {
    margin-bottom: 1rem;
}

.profile .text {
    font-weight: 400;
    font-size: 1.125rem;
    color: #777777;
    line-height: 1.5625rem;
}

.profile .pr-img {
    width: 35.625rem;
    /* height: 44.375rem; */
    /* height: auto; */
    margin-right: 3.125rem;
    margin-bottom: 3rem;
}

.result {
    padding: 6.8125rem 16.25rem;
    border-bottom: 19px solid #EB7803;
}

.result .text {
    color: #777;
    font-size: 28px;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.res-img {
    margin-bottom: 1rem;
    width: 32.75rem;
}

.footer {
    padding: 6.8125rem 16.25rem;
    background: #F6FAFD;
}

.footer .text {
    font-weight: 400;
    font-size: 28px;
    color: #777777;
    margin-top: 1.875rem;
    margin-bottom: 5rem;
}

.footer .f-btn {
    background: #EB7803;
    font-family: Arial;
    font-weight: 400;
    font-size: 28px;
    color: #FEFEFE;
    width: 20.9375rem;
    margin: 0 auto;
    padding: 1.25rem 0;
    height: 4.5625rem;
}

@media (max-width: 768px) {

    .w3l-banner-info h2,
    .personal {
        font-size: 30px !important;
        line-height: initial !important;
    }

    .w3l-banner-info p {
        font-size: 18px;
    }

    .w-btn,.pos-btn {
        width: 50%;
        height: 50px;
        font-size: 16px;
        margin-bottom: 30px;
    }

    .padding {
        padding: 1rem;
    }

    .w3l-banner-info {
        padding-top: 2rem;
    }

    .num {
        width: 60%;
        height: 50px;
        font-size: 30px;
    }

    .arrow {
        width: 18px;
        height: 24px;
    }

    .all-time {
        font-size: 18px;
        padding-bottom: 20px;
    }

    .tips {
        height: 50px;
        font-size: 16px;
    }

    .top-btns {
        margin-bottom: 0rem;
        padding: 0.7rem;
    }

    .top-btns li {
        width: 47% !important;
        margin: 0 1%;
        margin-bottom: 1rem;
        height: 3rem;
        font-size: 12px;
    }

    .people-1 {
        width: 100%;
        height: auto;
    }

    .title {
        font-size: 30px;
        line-height: initial;
        margin-top: 1rem;
    }

    .free-daily-dividends .title {
        margin-bottom: 1rem;
    }

    .power .title {
        margin-bottom: 1rem;
    }

    .p-icon {
        width: 2.125rem;
        height: 2rem;
    }

    .p-title,
    .secure .s-title {
        font-size: 18px;
    }

    .p-text,
    .secure .s-text {
        font-size: 14px;
    }

    .secure ul {
        padding: 1rem;
    }

    .secure .title {
        margin-bottom: 1rem;
    }

    .secure li {
        padding: 15px;
    }

    .guarante .title {
        margin-bottom: 1rem;
    }

    .guarante .divider {
        margin-top: 1rem;
        margin-bottom: 1rem;
        font-size: 20px;
    }

    .guarante .website {
        width: 80%;
        padding: 10px;
    }

    .profile .pr-img {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }

    .profile .text {
        font-size: 14px;
    }

    .result .text {
        font-size: 18px;
        margin: 1rem 0;
    }

    .footer .text {
        font-size: 18px;
        margin-bottom: 1rem;
    }

    .footer .f-btn {
        width: 50%;
        height: 50px;
        font-size: 16px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .font-size {
        font-size: 40px !important;
    }

    .padding {
        padding: 5rem;
    }

    .w3l-banner-info h2,
    .personal {
        font-size: 40px !important;
        line-height: initial !important;
    }

    .w3l-banner-info {
        padding-top: 3rem;
    }

    .w3l-banner-info p {
        font-size: 24px;
    }

    .w-btn,.pos-btn {
        width: 30%;
        height: 50px;
        font-size: 16px;
        margin-bottom: 30px;
    }

    .padding {
        padding: 2rem 3rem;
    }

    .w3l-banner-info {
        padding-top: 2rem;
    }

    .num {
        width: 30%;
        height: 50px;
        font-size: 24px;
    }

    .arrow {
        width: 18px;
        height: 24px;
    }

    .all-time {
        font-size: 18px;
        padding-bottom: 20px;
    }

    .tips {
        height: 50px;
        font-size: 16px;
    }

    .top-btns {
        margin-bottom: 0rem;
        padding: 0.5rem;
    }

    .top-btns li {
        /* width: 33% !important; */
        margin: 0 1%;
        margin-bottom: 1rem;
        height: 3.5rem;
        width: 18% !important;
        font-size: 12px;
        text-align: center;
    }

    .top-btns li a {
        font-size: 12px;
    }

    .top-btns li img {
        width: 100%;
        height: auto;
    }

    .people-1 {
        width: 100%;
        height: auto;
    }

    .people-1 {
        width: 100%;
        height: auto;
    }

    .title {
        font-size: 40px;
        line-height: initial;
        margin-top: 1rem;
    }

    .free-daily-dividends .title {
        margin-bottom: 2rem;
    }

    .power .title {
        margin-bottom: 2rem;
    }

    .p-icon {
        width: 2.125rem;
        height: 2rem;
    }

    .p-title,
    .secure .s-title {
        font-size: 18px;
    }

    .p-text,
    .secure .s-text {
        font-size: 14px;
    }

    .secure ul {
        padding: 1rem;
    }

    .secure .title {
        margin-bottom: 1rem;
    }

    .secure li {
        padding: 15px;
    }

    .guarante .title {
        margin-bottom: 1rem;
    }

    .guarante .divider {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-size: 20px;
    }

    .guarante .website {
        width: 50%;
        padding: 10px;
    }

    .profile .pr-img {
        width: 100%;
        height: auto;
        margin-bottom: 1rem;
    }

    .profile .text {
        font-size: 14px;
    }

    .result .text {
        font-size: 18px;
        margin: 1rem 0;
    }

    .footer .text {
        font-size: 18px;
        margin-bottom: 1rem;
    }

    .footer .f-btn {
        width: 30%;
        height: 50px;
        font-size: 16px;
    }
}

@media (min-width: 1025px) and (max-width: 1400px) {
    .font-size {
        font-size: 50px !important;
    }

    .padding {
        padding: 3rem;
    }

    .profile .pr-img {
        height: auto;
    }
}